*{
    font-family: 'Poppins';
}

.exportSpan label{
    display: block;
    font-size: 12px;
}

.exportSpan{
    display: block;
    margin-bottom: 10px;
}

.exportSpan input{
    width: 550px;
    height: 30px;
}

#this_export button{
    width: 183px;
    height: 30px;
    margin-top: 10px;
    border: 1px;
    border-radius: 4px;
    
}

#export_list{
    background-color: #f3cfcf;
}

#retrieve_metadata{
    background-color: #d4cef7 ;
}

#this_export{
    margin-top: 10px;
}

#rectangle{
    border: 1px solid rgb(187, 187, 187);
    margin-left: 25px;
    margin-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    height: 798px;
}
